@import '/src/variables.scss';

.form {
    padding: 5px 15px 12px 15px;
    border-bottom: 1px solid $border-color;

    &_header_wrapper {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    &_user_name {
        font-size: 18px;
    }

    &_file_wrapper {
        display: flex;
        justify-content: space-between;
    }

    &_file_container {
        display: flex;
        justify-content: left;
        align-items: center;
    }

    &_file_label {
        position: relative;
        padding: 7px 16px;
        min-width: 155px;
        height: 41px;
        border: 1px solid $active-color;
        border-radius: 36px;
        margin-right: 10px;
        font-family: $main-font;
        font-size: 18px;
        font-weight: 400;
        outline: 1px solid transparent;
        transition: outline 0.3s ease;
        cursor: pointer;

        &::before {
            position: absolute;
            content: "";
            width: 17px;
            height: 17px;
            right: 16px;
            top: 0;
            bottom: 0;
            margin: auto;
            background-image: url("/img/img_icon.svg");
        }

        &:hover,
        &:focus-visible {
            outline: 1px solid $active-color;
        }

        &:active {
            outline: 1px solid transparent;
        }
    }

    &_file_loader {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        border: 0;
        clip: rect(0 0 0 0);
        overflow: hidden;

    }

    &_img_name {
        display: inline;
        font-size: 15px;
        padding: 0 5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 200px;
    }
}