@import '/src/variables.scss';

.moonner {
    display: grid;
    grid-template-columns: 30% 70%;
    height: 100vh;

    &_wrapper {
        border-left: 1px solid $border-color;
        border-right: 1px solid $border-color;
        padding: 16px 0;
    }

    &_hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        border: 0;
        clip: rect(0 0 0 0);
        overflow: hidden;
    }
}