@import './variables.scss';

html {
    height: 100vh;
}

body {
    font-family: $main-font;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: normal;
    color: $text-color;
    margin: 0;
    width: 100%;
    background-color: $background-color;
}

a {
    text-decoration: none;
}

img {
    object-fit: cover;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
