$background-color: #000000;
$text-color: #D9D9D9;
$secondary-text-color: #FFFFFF;
$border-color: #2F3336;
$placeholder-color: #6E767D;
$active-color: #1D9BF0;

$main-font: 'Inter', sans-serif;
$secondary-font: 'Kanit', sans-serif;